[ubmodule "auto-pairs"]
        path = .vim/bundle/auto-pairs
        url = https://github.com/jiangmiao/auto-pairs
[submodule "nerdtree"]
        path = .vim/bundle/nerdtree
        url = https://github.com/scrooloose/nerdtree.git
[submodule "supertab"]
        path = .vim/bundle/supertab
        url = https://github.com/ervandew/supertab.git
[submodule "syntastic"]
        path = .vim/bundle/syntastic
        url = https://github.com/scrooloose/syntastic.git
[submodule "ultisnips"]
        path = .vim/bundle/ultisnips
        url = https://github.com/sirver/ultisnips
[submodule "vim-snippets"]
        path = .vim/bundle/vim-snippets
        url = https://github.com/honza/vim-snippets.git


