snippet cmain "Description" b
#include <stdio.h>


int main(void)
{
        $1
        return 0;
}
endsnippet

snippet /** "Description" b
snippet /** "Doxy comment" b
/**
* $1
* @param
* @return
*/
endsnippet

snippet #incude "include statment" b
#include <$1>
endsnippet

