
configuration {
	display-drun:    "";
	show-icons:      true;
	drun-icon-theme: "macOS";
}

* {
    font: "SF Pro Text Light 8";
    padding: 5px 10px;
    background-color: #24272E;
    color: #6A6A6A;
}


window {
    border-radius: 10px;
    height: 300px;
    width: 500px;
    padding: 30px;
}

#prompt {
  color: #D1D6D2;
}
      
listview {
    padding: 10px 10px 0px 10px;
    spacing: 0.5em;
}

#element selected {
    text-color: #E4E8E9;
}

