### run systemctl daemon-reload to reload any changes made to file

[Unit]
Description=Lock the screen automatically after a timeout
After=suspend.target

[Service]
Type=forking
User=tristan
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -i /home/tristan/.lockpic.png -c '#000000' -o '#191d0f' -w '#572020' -l '#ffffff' -e
ExecStop=/home/tristan/.dotfiles/scripts/lockpic.sh

[Install]
WantedBy=suspend.target
